<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Демотиваторы</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>

    <div class="container">
        <div class="input-group">
            <input type="text" id="prompt-input" placeholder="Заходят как-то бесконечное количество математиков в бар">
            <button id="generate-button">Создать!</button>
        </div>
        <div id="result-container" class="result-container">
        </div>
    </div>

    <script src="static/script.js"></script>
</body>

</html>